.confirmation {
    background-color: $tertiary;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    @include flex;
    transition-duration: 0.5s;
  &:hover &__confirmation {
    margin-right: -1rem;
  }
}

 .case__icone {
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    @include flex;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: 0.5s;
  }

  .icone__valide {
    color: $tertiary;
  }