.entrees{
    animation: fadein 2s ease-in-out;
}

.plats{
    animation: fadein 3s ease-in-out;
}

.desserts{
    animation: fadein 3.5s ease-in-out;
}

.entrees, .plats, .desserts{
    margin-bottom: 20px;
}

.restaurant__img{
    max-width: 100%;
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.menu__principal{
    @include menu__principal
}

.nom__restaurant{
    font-family: 'shrikhand';
    font-size: 1.4rem;
}

.menu__titre{
    @include menu__titre 
}

.ligne{
    width: 40px;
    border: 2px solid $tertiary;
}

.entrees__titre, .plats__titre, .desserts__titre{
    text-transform: uppercase;
    padding: 0 1rem;
    margin-bottom: 20px;
}

.prix{
    font-weight: bold;
    margin-left: auto;
    display: flex;
    align-items: flex-end;
}

.description p{
    margin: 0;
}

.proposition{
    background-color: $white;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 10px #aaa;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: padding-right 450ms ease-in-out;
    display: flex;
    height: 63px;
}

.proposition:hover {
    padding-right: 75px;
}

  .proposition:hover .valide {
    opacity: 1;
    transform: translate(-50px);
}

  .proposition:hover .fa-check-circle {
    transform: rotate(360deg);
}

.description{
    justify-content: space-between;
    align-items: center;
    line-height: 1.5em;
}

.valide{
    @include valide;
}

.description, .description h4, .description p{
    @include ellipsis
}

@media screen and (min-width:992px){
    .menu__complet{
        display: grid;
        column-gap: 1rem;
        grid-template-columns: repeat(3,1fr);
    }
    .entrees, .plats, .desserts{
        display: grid;
    }
}