.far{
  font-size: 35px;

}

.far:hover {
  animation: coeurcouleur 0.5s linear;
    font-weight: 900;
    background: $linear-gradient;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}